/* left side nav */
		/* exprimental */
		.Nsb_layout_l {
			position: fixed;
			float: left;
			width: 11.25rem;
			height: max-content;
			border-radius: 1rem;
			box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
			border:none;
			padding-bottom: 0.5rem;
			top: 50%;
			transform: translateY(-50%);
		}
/* left side nav */

/* main_page */








/* main_page */

/* button */

/* button */

/* iframe */

/* iframe */

/* body */




/* body */


/* right side */


/* right side */

/* full page */
/* full page */

/* page-adjustment */
@media screen and (min-width:1185px){
	.Nsb_pw {
		width: 1185px;
		margin: 0 auto;
	}
}
@media screen and (max-width:950px){
	.Nsb_pw {
		width: auto;
		margin: 0 auto;
	}
}
/* page-adjustment */