.Nsb_rights {
	height: max-content;
	line-height: normal;
	width: inherit;
}
.info{
	text-align: center;
	color: #000;
    & .heart{
        color: #ff0081;
    }
    & a{
        color: var(--primary-theme-color);
        text-decoration: none;
    }
}
#Footer1_divCopyright{
	text-align: center;
    display: inline-flex;
    width: inherit;
    flex-direction: column;
}