.Nsb_rights {
	height: max-content;
	line-height: normal;
	width: inherit;
}
.info{
	text-align: center;
	color: #000;
    & .heart{
        color: #ff0081;
    }
}
#Footer1_divCopyright{
	text-align: center;
    position: absolute;
    display: inline-flex;
    width: inherit;
    bottom: 0;
    flex-direction: column;
}