.Nsb_r_list_tdfy {
	border: none;
}
.Nsb_layout_l {
    height: max-content;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border: none;
    padding-bottom: 0.5rem;
    flex-grow: 0.1;
    align-items: center;
    width: inherit;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.Nsb_l_list {
    & ul {
        padding-bottom: 0.5em;
        width: inherit;
        border-bottom: none;
    }
    & h4 {
        margin: 0;
        padding: 6px 0;
        font-size: 17px;
        font-weight: bold;
        background-color: var(--primary-theme-color);
        border-radius: 1rem 1rem 0 0;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        color: #fff;
        background-image: none;
        width: inherit;
        text-align: center;
        height: max-content;
    }
    & li {
        margin: 0;
        width: inherit;
    }
    & a {
        color: #000;
        padding: 4px 0;
        text-align: center;
        position: relative;
        width: inherit;
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-radius,background,color,transform,box-shadow;
        &:hover {
            border-radius: 1em;
            background: var(--tertiary-theme-color);
            box-shadow: inset 0px 2px 6px 1px rgb(0 0 0 / 30%);
            color: #fff;
            transform: translateY(0.5px);
            transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: border-radius,background,color,transform,box-shadow;
        }
    }
    & .Nsb_l_list_now {
        background: var(--secondary-theme-color);
        color: #fff;
        padding: 4px 0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-radius,background,box-shadow,transform;
        &:hover {
            border-radius: 15px;
            background: var(--tertiary-theme-color);
            transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: border-radius,background,box-shadow,transform;
        }
    }
}

.Nsb_l_list.narrow_patch{
    & a{
        padding: 4px 1rem;
    }
}

.Nsb_l_list h4, .Nsb_l_list ul, .Nsb_l_list li, .Nsb_l_list a {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    min-width: max-content;
}
.Nsb_l_list_top {
	height: 0;
}
.Nsb_pw_main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2rem 6rem;
    width: auto;
    height: inherit;
}