.Nsb_layout_r {
    padding: 2rem 0 0rem 0rem;
    margin: 0 0 3rem -11.25rem!important;
    left: 57%;
    transform: translateX(-50%);
    float: left;
    position: relative;
    .Nsb_table{
        border-collapse: separate;
        position: relative;
        transform-origin: top!important;
    }
    .Nsb_r_list{
        .Nsb_r_list_thb{
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
            border: none;
            background: var(--secondary-theme-color);
            font-size: 1.125rem;
            color: #fff;
            height: 2rem;
            text-align: center;
            font-weight: normal;
        }
        & th{
            background: var(--secondary-theme-color);
            border: none;
            color: #fff;
            width: min-content;
            line-height: initial;
            font-size: 1rem;
            padding: 0 0.5rem;
        }
        & td{
            border: solid 0.05rem var(--secondary-theme-color);
            color: #000;
            text-align: center;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
            font-size: 1rem;
            word-break: keep-all;
        }
        &.Nsb_table{
            width: 68rem!important;
        }
    }
}
.Nsb_r_list_fy2 input {
    width: 2em;
    height: 1em;
    text-align: center;
    border: 2px solid var(--secondary-theme-color);
    border-radius: 1.5em;
    background-color: var(--tertiary-theme-color);
    text-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    color: #fff;
    font-size: 1rem;
    border-radius: 1.5em;
    background-image: none;
    transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    transition-property: transform,background-color,border;
    &:hover,&:focus-visible{
        outline: none;
        border: 2px solid var(--primary-theme-color);
        background-color:var(--secondary-theme-color);
        transform: scale(1.02);
        transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
        transition-property: transform,background-color,border;
    }
}
.Nsb_r_list_fy{
    div,span,a{
        height: 1.5em;
        line-height: 1.5em;
    }
}

#Form1[action] div{
    text-align: center!important;
}
td[width][align=right]{
    width:7rem;
}
td b font[face]{
    font-family: "HarmonyOS_Medium";
}
td[style="background-color:#E5F3FE"]{
    background-color: #A6D3FE!important;
    color: #fff!important;
    text-shadow: 0 0 3px black;
}
font[color=blue]{
    color: var(--secondary-theme-color);
}