:root{
	--primary-theme-color: hsl(216.99deg 99.1% 56.67%);
	--secondary-theme-color: hsl(214.55deg 98.8% 67.25%);;
    --tertiary-theme-color:hsl(207 90% 60%);
    --hover_darken_color:brightness(0.75);
	--sidebar_width:10rem;
	--title-extra-length:20rem;
}
body.spring_festival{
	--primary-theme-color: #ca2019;
    --secondary-theme-color: #f5b035;
    --tertiary-theme-color: #9e0d00;
}
body,div,dl,dt,p,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,blockquote,th,td,a,span,div {
	padding:0;
	margin:0;
	font-size: 1rem;
	font-family: "HarmonyOS_Medium"!important;
}
html{
	scroll-behavior: smooth;
}
.display_none{
	display: none!important;
}
.mobile{
	padding: 0!important;
}