:root{
	--primary-theme-color: hsl(216.99deg 99.1% 56.67%);
	--secondary-theme-color: hsl(214.55deg 98.8% 67.25%);;
    --tertiary-theme-color:hsl(209 98% 70%);
    --hover_darken_color:brightness(0.75);
	--sidebar_width:10rem;
}
body,div,dl,dt,p,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,blockquote,th,td,a,span,div {
	padding:0;
	margin:0;
	font-size: 15px;
	font-family: "HarmonyOS_Medium"!important;
}
html{
	scroll-behavior: smooth;
}
.display_none{
	display: none!important;
}