.Nsb_menu.Nsb_menu_pw,.Nsb_menu {
	height: 41px;
	line-height: 41px;
    background-color: var(--primary-theme-color);
    background-image:none;
	left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.Nsb_menu li,.Nsb_menu a{
    display: inline-flex;
    width: inherit;
    justify-content: center;
}
.Nsb_menu a {
	color: #fff;
	font-weight: normal;
	border-radius: 2px;
    word-break: keep-all;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-radius,transform,filter,background-color,box-shadow;
    &:hover{
        background-position: none;
        background-color: var(--primary-theme-color);
        background-image:none;
        height: 40px;
        filter: brightness(0.7);
        transform: translateY(0.75px);
        border-radius: 20px;
        box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow,border-radius,transform,filter,background-color,;
    }
}
.Nsb_menu_pw {
	box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
}
.Nsb_pw {
    &.top{
        background-color: var(--primary-theme-color);
        display: flex;
        justify-content: center;
    }
    .Nsb_top{
        background-color: var(--secondary-theme-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: inherit;
        max-width: 1280px;
    }
    .Nsb_top_menu {
        background-color: var(--tertiary-theme-color);
        border-radius: 20px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
        right: auto;
        top: auto;
        min-width: max-content;
        & ul{
            border:none;
            background: var(--primary-theme-color);
            border-radius: 20px;
            padding: 3px;
            box-shadow: -1px 0px 3px rgba(0, 0, 0, 0.3);
        }
    }
    .Nsb_top_logo, .Nsb_top_menu {
        position: relative;
        left: 0;
    }
    #divFirstMenuClass{
        background-color: var(--primary-theme-color);
        background-image: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        width: inherit;
        height: inherit;
    }
}
.Nsb_top_menu_nc {
	height: inherit;
	font-size: 1em;
	line-height: 2em;
	padding: 0 0.75em 0 1em;
	color: #fff;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
    transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-property: transform,filter;
    &:hover{
        filter: brightness(0.8);
        transform: translateY(1px);
        transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
        transition-property: transform,filter;
    }
}
.Nsb_menu{
    & a {
        font-size: 1rem;
    }
    & ul {
        display: inline-flex;
        flex-direction: row;
        width: -webkit-fill-available;
        margin: 0 auto;
        min-width: max-content;
        max-width: 1280px;
        &.mobile{
            margin: 0;
        }
    }
}
.Nsb_menu_li_now{
	background: none;
}
.Nsb_menu_li_h span {
    background: url(../framework/images/Nsb_menu_h.gif) 0 -15px
}
.Nsb_top_menu span, .Nsb_top_menu_id img{
	visibility: hidden;
}
.SimTopBanner{
    background-image: url(https://raw.githubusercontent.com/cui0v0/shorttimeweb/master/dji_fly_20230721_181000_390_1689934214383_photo.jpg);
    margin: 0!important;
    padding: 0 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -490px;
    background-attachment: fixed;
    background-position-x: center;
}