#dataList{
    margin-top: 0.5rem;
    border-collapse: separate;
    position: relative;
    transform-origin: top!important;
    & th{
        background: var(--secondary-theme-color);
        border: none;
        color: #fff;
        width: min-content;
        line-height: initial;
        font-size: 1rem;
        padding: 0 0.5rem;
    }
    & td{
        border: solid 0.05rem var(--secondary-theme-color);
        color: #000;
        text-align: center;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        font-size: 1rem;
        word-break: keep-all;
    }
    & .Nsb_r_list_thb{
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
        border: none;
        background: var(--secondary-theme-color);
        font-size: 1.125rem;
        color: #fff;
        height: 2rem;
        font-weight: normal;
        text-align: center;
    }
}

#kbtable{
	border-collapse: separate;
	transform-origin: 0 0;
    width: max-content!important;
    & th{
        background: var(--secondary-theme-color);
        border: none;
        color: #fff;
        width: 1.5rem;
        line-height: initial;
        font-size: 1rem;
        padding: 0.5rem;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    }
    & td{
        border: solid 0.05rem var(--secondary-theme-color);
        color: #000;
        text-align: center;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
        font-size: 1rem;
        word-break: keep-all;
        line-height: normal;
    }
}

[id].kbcontent,[id].kbcontent1{
	background: var(--secondary-theme-color);
    border-radius: 1rem;
    color: #fff;
    padding: 0.2rem 0.8rem;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
	margin-bottom: 5px;
}
.classLists[style]{
    border-radius: 1rem;
    padding: 3px 5px;
}