#SimUI{
    display: flex;
    z-index: 100;
    position: absolute;
    top: 50%;
    background-color: var(--secondary-theme-color);
    border-radius: 1rem;
    width: inherit;
    color: white;
    padding: 1rem 2rem;
    max-width: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .top{
        display: inline-flex;
        width: -webkit-fill-available;
        align-items: center;
        & .title{
            letter-spacing: 0.1rem;
            font-size: 1.6rem;
            margin: 0.5rem 0;
            width: -webkit-fill-available;
            text-align: center;
        }
        & .close_btn{
            position: absolute;
            right: 0;
            margin-top: -1.71rem;
            padding: 0 0.3rem;
            padding-bottom: 0.4rem;
            font-size: 3rem;
            border-radius: 0 1rem 1rem 0;
            line-height: 3rem;
            background-color: #ff3939;
            border-radius: 0 1rem;
            box-shadow: none;
            user-select: none;
            font-weight: bold;
        }
    }
    & .scorePanel{
        margin-bottom: 2rem;
        & span{
            font-size: 1.2rem;
        }
        & .score{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    & .button{
        margin-top: 2rem;
        font-size: 1.2rem;
        padding: 0.3rem 0.7rem 0.3rem 0.5rem;;
    }
}
iframe.SimWindow{
    position: absolute !important;
    margin-top: 0!important;
    margin-bottom: 2rem;
    height: -webkit-fill-available!important;
    width: 86%!important;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    z-index: 81;
    &.fullscreen{
        width: 96%!important;
        height: -webkit-fill-available!important;
        z-index: 1000!important;
        margin: 1rem 0!important;
        top: 0!important;
    }
}
.weeklyTopBar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    & .cell{
        background: var(--secondary-theme-color);
        border: none;
        color: #fff;
        max-width: min-content;
        line-height: initial;
        font-size: 1rem;
        padding: 0.5rem;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
        word-break: keep-all;
        font-weight: bold;
    }
}
.pickPanel, .scorePanel{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 2rem;
    & span{
        text-align: center;
        margin-bottom: 0.3rem;
    }
    & .picker_option{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        display: inline-flex;
        & .text{
            font-size: 1.2rem;
            margin-left: 0.5rem;
        }
        & svg.icon{
            cursor:pointer;
        }
    }
}
.filter_panel{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    position: absolute;
    margin-left: 0.5rem;
    z-index: 50;
    background-color: var(--secondary-theme-color);
    color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    opacity: 50%;
    transition: opacity 0.3s ease-out;
    & .inner{
        display: inline-flex;
        flex-direction: row;
        margin-top: 0.2rem;
        & .pickPanel{
            margin-top: 0;
            margin-bottom: 0.2rem;
            padding: 0 0.2rem;;
            min-width: 6rem;
        }
    }
    &:hover,&:focus{
        opacity: 100%;
    }
}
.noresult{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0;
    margin: 0 2rem;
    width: inherit;
    border: solid 0.05rem var(--secondary-theme-color);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 1rem 1rem;
    color: #000;
    &.grid_form{
        border-radius: 1rem;
        letter-spacing: 0.05rem;
        background-color: var(--secondary-theme-color);
        color:#fff;
    }
    &.mobile{
        padding: 1rem 0!important;
        margin: 0!important;
    }
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: .85 !important;
    transition: 0.3s opacity cubic-bezier(0.46, 0.03, 0.52, 0.96);;
    &.hidden{
        opacity: 0!important;
    }
}